body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto; /* Pour gérer le défilement */
}

.calendar-container {
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.calendar-header {
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255,255,255,0) 100%);
    text-align: center;
    width: 100%;
}

.calendar-header h1 {
    font-size: 1.5em;
    color: #0056b3;
}

.calendar {
    width: 90%; /* Pour une meilleure visibilité */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100px;
}

.day, .day-name {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day:nth-last-child(-n+7), .day:nth-child(7n) {
    border-bottom: none;
    border-right: none;
}

.task {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 3px solid;
    font-size: 0.75em;
    text-align: center;
}

.task--warning { border-color: #fdb44d; }
.task--danger { border-color: #fa607e; }
.task--primary { border-color: #4786ff; }
.task--info { border-color: #45a049; }

@media (max-width: 768px) {
    .calendar-container {
        flex-direction: column;
    }

    .calendar {
        width: 100%;
        margin-bottom: 20px;
    }

    .calendar-header h1, .calendar-header p, .day-name, .day {
        font-size: 0.75em;
    }
}
