body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;  /* Couleur de fond pour rendre le contenu plus lisible */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #0056b3;  /* Couleur plus professionnelle */
    color: white;  /* Contraste pour la lisibilité */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;  /* Adapté à la couleur du fond d'en-tête */
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 600px;
}

input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;  /* Espacement pour esthétique */
    box-sizing: border-box;  /* Inclut padding et border dans la largeur */
}

input[type="submit"] {
    background-color: #4CAF50; /* Couleur verte pour l'action */
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
